{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:jest/recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "no-continue": "off",
    "no-void": ["error", { "allowAsStatement": true }],
    "require-await": "off",
    "@typescript-eslint/require-await": "off"
  },
  "overrides": [
    {
      "files": ["tests/**"],
      "plugins": ["jest"],
      "rules": {
        // you should turn the original rule off *only* for test files
        "@typescript-eslint/unbound-method": "off",
        "jest/unbound-method": "off",
        "import/first": "off"
      }
    }
  ]
}